@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --pink: rgb(255, 68, 199);
    --yellow: #fffd87;
    --sky-blue: #00d2ff;
    --border: .1rem solid rgba(255,255,255,.3);
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
    transition: all .2s linear;
    text-decoration: none;
    box-sizing: border-box;
    border: none;outline: none;
}
body {
    overflow: hidden;
}
section{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: linear-gradient(to bottom, #f1f4f9, #dff1ff);
}
section .color {
    position: absolute;
    filter: blur(150px);
}
section .color:nth-child(1){
    top: -350px;
    width: 600px;
    height: 600px;
    background: var(--pink);
}
section .color:nth-child(2){
    bottom: -150px;
    left: 100px;
    width: 500px;
    height: 500px;
    background: var(--yellow);
}
section .color:nth-child(3){
    bottom: 50px;
    right: 100px;
    width: 300px;
    height: 300px;
    background: var(--sky-blue);
}


.box{
    position: relative;    
}
.box .square {
    position: absolute;
    backdrop-filter: blur(5px);
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.1);
    border: var(--border);
    border-right: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    animation: animate 10s linear infinite;
    animation-delay: calc(-1s * var(--i));
}
@keyframes animate {
    0%,100%{
        transform: translateY(-40px);
    }
    50%{
        transform: translateY(40px);
    }
}
.box .square:nth-child(1) {
    top: -50px;
    right: -60px;
    width: 100px;
    height: 100px;
}
.box .square:nth-child(2) {
    top: 150px;
    left: -100px;
    width: 120px;
    height: 120px;
    z-index: 2;
}
.box .square:nth-child(3) {
    bottom: 50px;
    right: -60px;
    width: 80px;
    height: 80px;
    z-index: 2;
}
.box .square:nth-child(4) {
    bottom: -80px;
    left: 100px;
    width: 50px;
    height: 50px;
    z-index: 2;
}
.box .square:nth-child(5) {
    top : -80px;
    left: 140px;
    width: 60px;
    height: 60px;
    z-index: 2;
}    
.container {
    position: relative;
    width: 400px;
    min-height: 400px;
    background: rgba(255,255,255,0.1);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    box-shadow: 0 1.5rem 3rem rgba(0,0,0,0.1);
    border: var(--border);
    border-right: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
}


.form {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 40px;
}
.form h2 {
    position: relative;
    color: #333;
    font-size: 1.5rem;
    letter-spacing: 1px;
    margin-bottom: 40px;
}
.form h2::before {
    content: '';
    position: absolute;
    left: 0;bottom: -10px;
    width: 80px;
    height: 4px;
    background: #333;
}
.form .inputBox {

    width: 100%;
    margin-top: 20px;
}
.form .inputBox input {
    width: 100%;
    background: rgba(255,255,255,0.2);
    padding: .9rem 1.5rem;
    border-radius: 2.2rem;
    border: var(--border);
    border-right: 1px solid rgba(255,255,255,.2);
    border-bottom: 1px solid rgba(255,255,255,.2);
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,0.1);
}

.form .inputBox input::placeholder {
    color: #333;
}

.form .inputBox input[type="submit"] {
    background: #fff;
    color: #333;
    max-width: 100px;
    cursor: pointer;
    margin-bottom: 20px;
    font-weight: 600;
    transition: .5s ;

}
.form .inputBox input[type="submit"]:hover {
    background: var(--pink);
    color: #fff;
}

.forget {
    margin-top: 5px;
    color: #333;
}
.forget a {
    color: #fff;
    font-weight: 600;
}
.forget a:hover {
    text-decoration: underline;
    color: var(--pink);
}


